.imageOveraly {
  position: relative;
}

.search {
  position: absolute;
  top: 255px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  z-index: 1;
  border-radius: 10px;
  background-color: white;
  box-shadow: var(--mantine-shadow-sm);
  padding: 15px;
}

.button {
  padding: 0 20px;
}
