.header {
  position: absolute;
  padding-left: 10px;
  padding-top: 14px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 4.5rem;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
